
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isExistingAdmin() {
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    
    function isAdmin() {
      return isSignedIn() && isExistingAdmin();
    }

    match /homePageContent/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /pageContent/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /teamMembers/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /roles_admin/{userId} {
      allow read, write: if false; // Should only be managed from the Firebase Console
    }
  }
}
